* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* acima um seletor universal retirando dos os margin e pedding que o navegador colocar na pagina*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
  /* acima temos o seletor do elemento "body" onde foi adicionado uma imagem com algumas modificaçoes as quais ja estao todas agrupadas em relaçao ao posicionamento da msm na pagina */
}
body * /*selecionando o body (toda a pagina) com o seletor universal*/ {
  font-family: "Inter", sans-serif; /* aplicando as fontes*/
  color: var(--text-color); /* cor da fonte*/
}
#container /* seletor de id*/ {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px; /* aplicando em cima e em baixo e nas laterais*/
}
#profile /*elemento pai*/ {
  text-align: center; /*centralizar o conteudo dentro da caixa*/
  padding: 24px;
}
#profile  img /* selecionou a imagem que esta dentro do id profile*/ {
  width: 112px; /* largura*/
}
#profile p /* selecionando o elemento p que esta dentro do id profile*/ {
  font-weight: 500;

  line-height: 24px;
  margin-top: 8px;
}
/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}
.light #switch button {
  animation: slide-in 0.2s forwards;
  right: 0;
  left: initial;
}
#switch button:hover {
  outline: 8px solid var(--highlight-color);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/* links ( listas )*/
ul {
  list-style: none; /*retirar os pontinhos da lista*/
  display: flex;
  flex-direction: column;
  gap: 16px; /*espaços entre os elementos*/
  padding: 24px 0;
}
ul li a {
  display: flex; /* torna o elemento um flex container transformando todos os seus filhos diretos em flex itens*/
  justify-content: center; /* alinhar os elementos da lista ao meio*/
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*arredondamento de bordas*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(
    4px
  ); /*para ter compatibilidade com alguns navegadores*/
  text-decoration: none; /*retirar as linhas debaixo dos nomes */
  font-weight: 500;
  transition: background 0.2s; /*aplica efeito transiçao*/
}
/*pseudo-selector*/
ul li a:hover /*responsavel por aplicar os efeitos quando passar o mouse por cima*/ {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#social-links {
  display: flex;
  justify-content: center; /*alinhar os icones ao meio*/
  /*gap: 16px; espaçamento entre os icones*/
  padding: 24px 0;
  font-size: 24px; /*tamanho dos icones*/
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
/*animation*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }

}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;

  }

}
